header {
}

body {
	background-color: white;
		font-family: 'Courgette', cursive !important;
}
main{
	font-family: 'Courgette', cursive !important;
}
.logo {
	display: inline-block;
}
.top-bar {

	background-color: white;
	width: 100%;
	padding-left: 0%;
	padding-right: 3%;
}
.ymg {
	padding-left: 5%;
  font-family: 'Courgette', cursive !important;
	color: black;
	font-size: 2em;
}
.ymg img {
	display: inline-block;
	max-height: 100px;
	max-width: auto;
	padding-left: 5%;
}
.pages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
    text-align: center;
}

.pages li {
    float: left;
    padding-left: 0.7%;
}

.pages li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.pages li a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

.dropdown-C {
	float: left;
    padding-left: 0.7%;
    display: inline-block;
}

.dropdown-items-C {
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown-items-C a {
	display: block;
	background-color: rgba(28, 39, 58, 0.8);
	color: black;
}

.dropdown-C:hover .dropdown-items-C {
	display: block;
	color: black;
}

.pages2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;

}

.article {
	color: white;
	background-color: #cc0400;
	padding-top: 4%;
	padding-bottom: 8%;
	padding-left: 10%;
	padding-right: 10%;

}
.article-cover {
	color: white;
	background-color: black;
	padding-bottom: 6%;
	padding-left: 10%;
	padding-right: 10%;

}
.article-cover img {
	width: 95%;
	height: auto;
	background-color: rgb(23, 24, 25);
}
.spiral {
	max-height: 950px;
	padding-bottom: 35px;

	padding-top: 0%;
	float: left;
}

.content {
	padding-bottom: 0%;
}
.content-heading {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	padding-bottom: 2%;
}

.auth-table {
	border: none;
	background-color: #cc0400;
	color: white;
	padding-top: 10px;
	margin: 0 0 0 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.auth-table tr td {
	padding-top: 20px;
	padding-left: 5px;
	font-family: 'Courgette', cursive;
}
.auth-table tr th {
	padding-top: 20px;
}
.auth-table tr td img {
	height: 100px;
	width: 100px;
}
.cont-table {
	border: none;
	background-color: #cc0400;
	color: white;
	margin: 0 0 0 0;
	width: 100%;
	height: 100%;
  font-family: 'Courgette', cursive;
}
.cont-table td {
	padding-left: 2%;
	padding-right: 2%;
	color: white;
}
.ifrm {
	border-color: #cc0400;
	border-style: solid;
	border-width: 2em;
	position: relative;
	margin-top: 5%
	padding-top: 8%;
  height: 0;
	overflow: hidden;
  background-color:#ea0a06;
  color: white;
}

.next {
	float: right;
}

.prev {
	float: left;
}

.next img, .prev img {
	height: 50px;
	width: 50px;
}

iframe {
	display: inline-block;
	position: relative;
	border: none;
	overflow-x: scroll;
	overflow-y: scroll;
	color: white;
}

.articles1 {
	text-align: justify;
	background-color: rgb(0,20,85);
	color: white;
	font-family: 'Kalam', cursive;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	padding-left: 2%;
}

.articles2 {
	text-align: justify;
	background-color: rgb(0,20,85);
	color: white;
	font-family: 'Atma', cursive;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	padding-left: 2%;
}

.container{
	margin-bottom: 20px;
}
.insideNiche{

}

footer {
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}

footer table {
	width: 100%;
	text-align: center;
}

footer table tr td img {
	max-height: 35px;
	padding-left: 3%;
}
footer a{
	color: white;
}
.wrapNiche{
	padding-bottom: 90px;
	margin-bottom: -90px;
}
