
RewriteEngine on
RewriteCond %{HTTP_HOST} ^niche\.youniquemag\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.niche\.youniquemag\.org$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/niche\.youniquemag\.org\/home\.html" [R=301,L]

